.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.none {
	display: none;
}
ul {
	list-style-type: none;
}
nav li {
	display: inline-block;
	font-size: 18px;
	font-family: Effra, sans-serif;
}
nav a{
	color: #5B866B;
	text-decoration: none;
}
header {
	text-align: center;
}
.space {
	padding-left: 8px;
	padding-right: 8px;
}
#alignment {
	margin: auto;
	padding-top: 20px;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 25px;
}
#wrapper {
	width: 1280px;
	margin: 0 auto;
}
.container {
	position: relative;
	text-align: center;
	color: white;
	width: 1280px;
}
#centered1 {
	position: absolute;
	top: 35.5%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 64px;
	font-weight: bold;
	font-family: Effra, sans-serif;
	width: 1280px;
}
#centered2 {
	position: absolute;
	top: 45%;
	left: 50.5%;
	transform: translate(-50%, -50%);
	font-size: 48px;
	font-family: Kepler Std Display, serif;
	font-style: italic;
}
#about {
	text-align: center;
	font-family: Effra, sans-serif;
	font-size: 48px;
	font-weight: bold;
	color: #524741;
	margin-top: 50px;
	margin-bottom: 56px;
}
.dark {
	color: #222222;
	font-family: Effra, sans-serif;
	font-size: 18px;

	
}
h4 {
	color: #86765c;
	font-family: Effra, sans-serif;
	font-size: 36px;
	font-weight: bold;
	margin-bottom: 0.5px;
	margin-top: 1px;
	padding-top: 10px;


}
#section1 {
	height: 550px;
}
#section2 {
	height: 550px;
	background-color: #5B866B;
}
#section3 {
	height: 550px;
	
}
#portfolio {
	font-family: Effra, sans-serif;
	font-size: 48px;
	font-weight: bold;
	color: white;
	text-align: center;
	padding-top: 68px;
	position: relative;
}
#contact {
	font-family: Effra, sans-serif;
	font-size: 48px;
	font-weight: bold;
	color: #524741;
	margin-top: 10px;
	margin-bottom: 25px;
	padding-left: 60px;
	padding-right: 10px;
}
#column1 {
	float: left;
	width: 500px;
	margin-left: 115px;

}
#column2 {
	float: right;
	width: 600px;
	margin-right: 30px;
	
}
#alex {
	padding-right: 15px;
	padding-bottom: 10px;
}
#david {
	padding-right: 15px;
	padding-bottom: 10px;
}
#jenny {
	padding-bottom: 10px;
}
#joey {
	padding-left: 5px;
	padding-right: 15px;
	padding-bottom: 5px;
}
#melinda {
	padding-right: 15px;
}
#portfolio_images {
	padding-left: 140px;
}
.upperLayer {
	padding-right: 20px;
	padding-bottom: 18px;
}
.lowerLayer {
	padding-right: 20px;
}
#leftArrow1 {
	position: absolute;
	padding-left: 114px;
	padding-top: 43px;
}
#leftArrow2 {
	position: absolute;
	padding-left: 114px;
	padding-top: 195px;
}
#rightArrow1 {
	position: absolute;
	padding-left: 1125px;
	padding-top: 43px;
}
#rightArrow2 {
	position: absolute;
	padding-left: 1125px;
	padding-top: 195px;
}
#firstColumn {
	float: left;
	padding-left: 140px;
	
}
#secondColumn {
	float: right;
	padding-right: 165px;
	position: relative;
}
input[type=text] {
	background-color: #EBEBEB;
	border: 2px solid #EBEBEB;
	font-family: Effra, sans-serif;
	font-size: 18px;
	margin-bottom: 20px;
	padding-left: 19px;
	padding-top: 23px;
	padding-bottom: 19px;
	width: 103%;
	
}
#form {
	
}

::placeholder {
	color: #222222;
	
}
textarea {
	resize: none;
	background-color: #EBEBEB;
	border: 2px solid #EBEBEB;
	font-family: Effra, sans-serif;
	font-size: 18px;
	padding-top: 30px;
	padding-left: 20px;
	padding-bottom: 100px;
	width: 103%;
	margin-top: 10px;
}
#sendbtn {
	position: absolute;
	left: 270px;
	top: 480px;
	
}
footer {
	height: 105px;
	clear: both;
	position: relative;
}
#icons {
	position: absolute;
	top: 60px;
	left: 140px;
}
#btt {
	position: absolute;
	top: 50px;
	left: 1090px;
}
#bttText {
	position: absolute;
	top: 75px;
	left: 1005px;
	font-size: 14px;
	font-family: Effra, sans-serif;
}
.activepage {
	background-color: #B98C48;
	color: white;
	padding: 5px 7px 5px 7px;
}